.stage {
	position: relative;
	padding: 0;
	margin: 0;
	height: 600px;
	font-family: Consolas, monospace, Arial;
}

.game {
	position: relative;
	top: 0;
	left: 0;
	padding: 0;
	margin: 0;
}

.ui {
	float: right;
	position: absolute;
	top: 0;
	left: 593px;
	width: 206px;
	height: 592px;
	padding: 0;
	margin: 0;
}

.unit-selection {
	padding: 0;
	margin: 0;
	height: 290px;
}

.unit-selection li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none none inside;
	width: 100px;
}

.unit-selection li .name {
	font-weight: bold;
	font-size: 20px;
}

.unit-selection li .health{
	font-size: 12px;
}

.unit-selection li .move{
	font-size: 12px;
}

.orders {
	padding: 0;
	margin: 0;
	height: 300px;
}

.orders li {
	display: inline-block;
	padding: 0;
	margin: 0;
	list-style: none none inside;
	width: 100px;
}

